body{ 
   	background: url('../imagens/background.jpg') no-repeat center center fixed; 
   	-webkit-background-size: cover;
   	-moz-background-size: cover;
   	-o-background-size: cover;
   	background-size: cover;
}

.container{
	margin-top: 50px;
	box-shadow: 1px 2px 4px 3px rgba(0,0,0,.1);
	height: 100%;
	width: 100%;
}

#card{
	width: 100%;
}
#logo{
	width: 300px;
}

li{
	text-decoration: none;
}

a{
	text-decoration: none;
	cursor: pointer;
	color: blue;
}
thead{
	width: 100%;
}

.busca{
	float: right;
}
.thumbnail{
	margin-top: -50px;
	text-align: center;
}
#thumbnail{			
	width: 300px;
	height: 200px;
}
.titulo{
	margin-bottom: 80px;
	font-size: 10.5pt;
}
#button{
	float: right;
	margin-top: 80px;
	margin-left: 150px;
}

nav{
	float: right;
}
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}